pip install pycryptodome pillow tk tkinterdnd2 python-magic-bin tqdm requests qrcode mutagen speedtest-cli customtkinter psutil cryptography  matplotlib GPUtil setuptools WMI scapy cryptography moviepy imageio imageio-ffmpeg soundfile opencv-python pydub opencv-python